server:
  port: 8080
  http2:
    enabled: true

spring:
  application:
    name: to-do-be-app
  threads:
    virtual:
      enabled: true
  kafka:
    template:
      observation-enabled: true
    listener:
      observation-enabled: true
    consumer:
      group-id: group-id-${spring.application.name}
    topics:
      onboard-tenant: kafka-topic-tenant-onboarding
      offboard-tenant: kafka-topic-tenant-offboarding

  data:
    redis:
      repositories:
        enabled: false
      ttl: 3 # hours
  security:
    oauth2:
      resourceserver:
        jwt:
          expiration-seconds: 300
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml

management:
  server:
    port: 8081
  observations:
    annotations:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health,metrics
  endpoint:
    health:
      show-details: ALWAYS
  metrics:
    tags:
      app: ${spring.application.name}
  tracing:
    export:
      enabled: true
    baggage:
      remote-fields: userId
      correlation:
        fields: userId
    sampling:
      probability: 1.0

logging:
  level:
    com.kush.todo: INFO
    org.apache.kafka: WARN
    org.springframework.data.convert.CustomConversions: ERROR

todo:
  login:
    max-attempts: 5
    max-attempts-window-minutes: 3
  job:
    user-unlocking: 5m
  executor:
    async:
      core-size: 20
      max-size: 40
      queue-capacity: 200
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false