<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="messagePattern"
              value="%d{ISO8601} %-5level [%t] %-40.40logger{39}: %X{X-ToDo-Request-Id} %msg%n%throwable"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${messagePattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>